/*
Styles for homepage
*/
/* 
    Created on : Apr 10, 2020, 11:35:56 AM
    Author     : naris
*/

.container
{
    font-family: georgia;
    background-color: rgb(127,126,126);
}

header, footer
{
    width: 100%;
    background-color: rgb(70,70,70);
    text-align: center;
    color: whitesmoke;
    font-family: georgia;
}


figure img
{
    margin: 0 auto;
    height: 400px;
}

.links
{
    font-family: georgia;
    color: red;
}

.links:hover
{
    color: darkcyan;
}

.links:visited
{
    color: gold;
}
